<div class="button-row" layout-align="right">
    <button mat-raised-button color="primary" (click)="save()">Save</button>
    <button mat-raised-button color="accent" (click)="refresh()">Refresh</button>
    <button mat-raised-button color="warn" (click)="reset()">Reset</button>
</div>

<mat-tab-group>
    <mat-tab label="Check status">
        <mat-selection-list #list [(ngModel)]="selectedOperations" 
        (ngModelChange)="onNgModelChange($event)">
            <mat-list-option *ngFor="let id of checkOperations" [value]="id.api">
                {{id.name}}
            </mat-list-option>
        </mat-selection-list>
    </mat-tab>
    <mat-tab label="Submission">
        <mat-selection-list #list [(ngModel)]="selectedOperations" 
        (ngModelChange)="onNgModelChange($event)">
            <mat-list-option *ngFor="let id of submissionOperations" [value]="id.api">
                {{id.name}}
            </mat-list-option>
        </mat-selection-list>
    </mat-tab>
  </mat-tab-group>
  
